@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.container {
    margin-top: 30px;
    @extend %flex_wrap;
    justify-content: center;
    gap: 20px;
    .cards {
       padding-left: 10px;
        width: 45%;
        border: 1px solid $main_color;
        border-radius: 20px;

        .cards_front {
            @extend %flex_center;
            h2 {
                font-family: $tertiary_font;
                color: $quaternary_color;
                position: relative;
                cursor: pointer;

                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $tertiary_color;
                    bottom: -3px;
                    left: 0;
                    transform-origin: center bottom;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }
        
                &:hover::after {
                    transform: scaleX(1);
                }
            }
            
        }

        .cards_back {
            p {
                font-family: $secondary_font;
            }

            .flags {
                @extend %flex_center;
                gap: 10px;
                img {
                    width: 50px;
                    height: 100px;
                }
            }
        }
        
    }
}