// Couleurs
$main_color : #3d2312;
$secondary_color : #5e4025;
$tertiary_color : #a66a2c;
$quaternary_color : #d5aa72;
$quinary_color : #f5f5fa;

// Fonts
$main_font : 'Cookie', cursive;
$secondary_font : 'Josefin Sans', sans-serif;
$tertiary_font : 'Urbanist', sans-serif;